<!DOCTYPE html>


<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>Error Page</title>
    	<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h2>You are on an error page</h2>
        <a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>
    </body>
</html>