<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>House Page</title>
    	<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h2>House Page</h2>
        <form action = "house" method = "GET">
        <H3>Add some points</H3>
            <h2>cat </h2>
            <img src="./images/cat.jfif" alt="Cat" width="350" height="345">
            <br> 
            <form>
              <label for="catPts">Points (between 1 and 50):</label>
              <input type="number" id="catPts" name="catPts" min="1" max="50">
            </form>
            <h2>dog </h2>
            <img src="./images/dog1.jpg" alt="Dog" width="350" height="345">
            <br> 
            <form>
              <label for="dogPts">Points (between 1 and 50):</label>
              <input type="number" id="dogPts" name="dogPts" min="1" max="50">
            </form>
            <h2>chicken </h2>
           <img src="./images/chicken.jpg" alt="chicken" width="350" height="345">
            <br> 
            <form>
              <label for="chickenPts">Points (between 1 and 50):</label>
              <input type="number" id="chickenPts" name="chickenPts" min="1" max="50">
            </form>
            <h2>horse </h2>
            <img src="./images/horse.jpg" alt="horse" width="350" height="345">
            <form>
              <label for="horsePts">Points (between 1 and 50):</label>
              <input type="number" id="horsePts" name="horsePts" min="1" max="50">
            </form>
            <p>Upvote or Downvote?</p>
            <input type="radio" id="upv" name="choice" value="Upvote">
            <label for="upv">Upvote</label><br>
            <input type="radio" id="downv" name="choice" value="Downvote">
            <label for="downv">Downvote</label><br>
            <br> 
        <br>
        
        <button type = "submit" value = "Submit" class="button-60">Submit </button>
        </form>
    	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>
    </body>
</html>