<!DOCTYPE html>


<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>Kritika</title>
    	<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h1>HI KRITIKA!!!!!!!!! </h1>
 
    </body>
</html>