<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>House Page</title>
    	<link rel="icon" href="./images/flower.png">

    </head>
    <body>
    <h1>Add a new user</h1>
        <button type = "submit" value = "Submit" class="button-60">Submit </button>
        </form>
    	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>
    </body>
</html>