<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>Puppy Facebook</title>
    		<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h2>Puppy Facebook</h2>
        <form action = "puppy_results" method = "GET">
        <H3>Upvote or Downvote one</H3>
            <h2>xb1: </h2>
            <img src="./images/xb1.jpg" alt="Dog" width="350" height="345">
            <br> 
            <h2>xb2: </h2>
            <img src="./images/xb2.jpg" alt="Dog" width="350" height="345">

            <br> 
            <h2>xb3: </h2>
           <img src="./images/xb3.jpg" alt="Dog" width="350" height="345">

            <br> 
            <h2>xb4: </h2>
            <img src="./images/xb4.jpg" alt="Dog" width="350" height="345">
            <br>
              <label for="dogpic">Type in a dog picture ('xb1', 'xb2', 'xb3', 'xb4'):</label><br>
              <input type="text" id="dogpic" name="dogpic"><br>
              
            <p>Upvote or Downvote?</p>
            <input type="radio" id="upv" name="choice" value="Upvote">
            <label for="upv">Upvote</label><br>
            <input type="radio" id="downv" name="choice" value="Downvote">
            <label for="downv">Downvote</label><br>
            <br> 

        <br>
        
        <button type = "submit" value = "Submit" class="button-60">Submit </button>
        </form>
    	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>
    </body>
</html>