<!DOCTYPE html>


<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>THANKS</title>
    		<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h1>Kavy Acts of Gratitude</h1> <br>
         <img src="./images/carotwt.jpg" alt="Caroline PFP" width="500" height="345">
        <h4>"Thanks for adding me to the alt" - Caroline from Twitter</h4> <br>
        <img src="./images/taylor.webp" alt="Taylor Swift" width="500" height="345">
        <h4>"I'd like to thank Kavyesh Pasham for completing my crash course." - Taylor Swift</h4> <br>
        <img src="./images/phoebe.webp" alt="Phoebe Bridgers" width="500" height="345">
        <h4>"I'd like to thank Kavyesh Pasham for completing my crash course." - Phoebe Bridgers</h4>
    </body>
</html>