<!DOCTYPE html>
<html>
<head>
	<title>OAuth Profile</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container"> 
    <!-- Navigation -->
    <header>
    <nav>
        HELLO!!!
    </nav>
  </header>
	<p>
	You have successfully logged into the superfun page.<br>
	click <a href="./my_ion_info">here</a> to go to the profile.<br>
	click <a href="./logout">here</a> to logout.<br>
	</p>
	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>
</body>
</html>