<!DOCTYPE html>


<html>
    <head>
    	<link rel="stylesheet" href="css/main.css">
    	<title>Weather</title>
    		<link rel="icon" href="./images/flower.png">

    </head>
    <body>
        <h2>Where do you want to see the weather for?</h2>
        <p></p>
        <div>
            <form action = "form_render" method = "GET">
            <label for="lat"><span>Latitude:</span></label><br> 
            <input type = "text" name = "lat"><br> <br>
            <label for="long"><span>Longitude:</span></label><br>
            <input type = "text" name = "long"><br> <br>
            <button type = "submit" value = "Submit" class="button-60">Submit </button>
        </form>
        </div>
    	<a href="https://user.tjhsst.edu/2023cxu" class="button1">Homepage</a>

    </body>
</html>