<!DOCTYPE html>
<html>
<head>
		<title>My CSS Template</title>
		<link rel="stylesheet" href="css/basic.css">
</head>
<body>
    This is the css template
	<p>This is my message:</p>
	<h1>{{message}}</h1>
</body>
</html>